<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <h4 class="mb-0">xyz</h4>
        <p>Hours of Learning</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <h4 class="mb-0">1234</h4>
          <p> People educated</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <h4 class="mb-0">1234</h4>
          <p>Villages impacted</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{sstrainedCount}}</h4>
          <p>Swaasthya Saathis trained</p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <h4 class="mb-0">1234</h4>
          <p>Pregnant women & Lactating mothers </p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <h4 class="mb-0">1234</h4>
          <p> Women educated</p>
        </div>
      </div>
    </div>
  </div>
</div>
