<div class="card" style="width: 100%">
  <div class="card-body">
    <div class="float-left">
      <div class="animated fadeIn row">
        <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body" style="padding-top: 20px;  ">
              <!--/.row-->
              <div class="row">
                <div class="col-lg-6 col-sm-12  col-md-12">
                  <div
                    class="card text-white bg-success card-body1"
                    style="padding-bottom: 20px"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ noOfEducatedcount }}</h4>
                      <p>Number of educated</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-12 col-lg-6 col-md-12 ">
                  <div class="card text-white bg-info ">
                    <div class="card-body pb-0" style="padding-bottom: 33px;">
                      <h4 class="mb-0">{{ noOfPregnantAndLactating }}</h4>
                      <p>Pregnant women & Lactating mothers educated</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="row">
                <div class="col-sm-6 col-lg-6  col-md-12">
                  <div
                    class="card text-white bg-warning"
                    style="padding-bottom: 20px"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ noOfWomenEducated }}</h4>
                      <p>No .of women educated</p>
                    </div>
                  </div>
                </div>

                <!--/.row-->

                <div class="col-sm-6 col-lg-6  col-md-12">
                  <div
                    class="card text-white bg-danger"
                    style="padding-bottom: 20px"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ noOfVillagesImpactedCount }}</h4>
                      <p>No. of Villages Impacted</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-12">
                  <div
                    class="card text-white bg-primary"
                    style="padding-bottom: 20px"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ sstrainedCount }}</h4>
                      <p>Swasthya Saathi Trained</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-lg-6  col-md-12">
                  <div
                    class="card text-white bg-success"
                    style="padding-bottom:20px;"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ hours }}:{{ minutes }}</h4>
                      <p>Hours of Learning</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6  col-md-12">
                  <div
                    class="card text-white bg-success"
                    style="padding-bottom: 20px"
                  >
                    <div class="card-body pb-0">
                      <h4 class="mb-0">{{ noOfMenEducated }}</h4>
                      <p>No.of Men Educated</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5  col-md-6">
          <div class="panel panel-default">
            <div class="panel-body" style="padding-top: 20px;">
              <!-- <div class = "col-sm-3 mt-3 p-2" style ="top:20x;border:solid #4e9f8a 2px"> -->
              <div style="margin-left: 10px; ">
                <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->

                <!-- Indicators 
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>

                  < Wrapper for slides
                  <div class="carousel-inner" role="listbox">-->
                <div class="item active">
                  <img class="d-block img-fluid" src="assets/img/baby.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
