<div class="animated fadeIn">
    <button type="button" class="k-button" (click)="excelexport.save()">Export All To Excel</button>
    <div class="card">
      <kendo-excelexport [data]="reports" fileName="ViewerReportsAll.xlsx" #excelexport>
        <!-- <kendo-excelexport-column field="ProductID" title="Product ID"></kendo-excelexport-column>
        <kendo-excelexport-column field="ProductName" title="Product Name" [width]="350"></kendo-excelexport-column>
        <kendo-excelexport-column field="Category.CategoryName" title="Category" [hidden]="true"></kendo-excelexport-column> -->
        <kendo-excelexport-column  field="typeofViewer"  title="Type of Viewer"  width="50">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="aadhar"        title="Aadhar"          width="50">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="date"      	 title="Date"          	 width="56">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="videos"        title="Videos"          width="40">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="tittles"       title="Video Titles"    width="30">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="duration"      title="Duration"        width="30">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="effectiveness" title="Effectiveness"   width="40">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="villagename"   title="Village"         width="50">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="districtname"  title="District"        width="40">  </kendo-excelexport-column>
        <kendo-excelexport-column  field="statename"     title="State"           width="40">  </kendo-excelexport-column>
      </kendo-excelexport>
  <div class="card">
    <kendo-grid
    [kendoGridBinding]="reports"
    [pageSize]="100"
    [pageable]="true"
    [sortable]="true"
    [filterable]="true"
    [groupable]="true"
    [navigatable]="true"
    [selectable]="true"
    [columnMenu]="true"
    [resizable]="true">

    <!-- [height]="1000" -->

    <!-- S.No	Adhaar	Type of viewer	User Registration Date	No Of Videos	Video Index	Watch Duration	Effectiveness -->
    <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel" title="Download Viewable Entries only" >Export view to Excel</button>
      </ng-template>
    <!-- <kendo-grid-column  field="i+1" 					   title="S.No				" width="40">  </kendo-grid-column> -->
    <kendo-grid-column  field="typeofViewer"  title="Type of Viewer"  width="50">  </kendo-grid-column>
    <kendo-grid-column  field="aadhar"        title="Aadhar"          width="50">  </kendo-grid-column>
    <!-- <kendo-grid-column  field="date"          title="Date"            width="50">  </kendo-grid-column> -->
    <!-- <kendo-grid-column  field="startTime"     title="Time"            width="40">  </kendo-grid-column> -->
    <kendo-grid-column field="date"      title="Date"          width="100" format={0:z} filter="date">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.epocDate!=null">{{ (dataItem.epocDate) |  date:"M/d/y h:mm a" }}</div>
      </ng-template>
      <ng-template kendoGridFilterCellTemplate let-filter>
        <date-range-filter-cell
            class="date-range-filter"
            [filter]="filter"
            field="epocDate">
        </date-range-filter-cell>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column  field="videos"        title="Videos"          width="40" filter="numeric">  </kendo-grid-column>
    <kendo-grid-column  field="tittles"       title="Video Titles"    width="30">  </kendo-grid-column>
    <kendo-grid-column  field="duration"      title="Duration"        width="30">  </kendo-grid-column>
    <kendo-grid-column  field="effectiveness" title="Effectiveness"   width="40" filter="numeric">  </kendo-grid-column>
    <kendo-grid-column  field="villagename"   title="Village"         width="50">  </kendo-grid-column>
    <kendo-grid-column  field="districtname"  title="District"        width="40">  </kendo-grid-column>
    <kendo-grid-column  field="statename"     title="State"           width="40">  </kendo-grid-column>

    <kendo-grid-excel fileName="ViewerReport.xlsx" [filterable]="true"></kendo-grid-excel>

    </kendo-grid>
  </div>
</div>
